{
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "angular"
            }
        },
        {
            "files": ["*.svg"],
            "options": {
                "parser": "html"
            }
        },
        {
            "files": ["package.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "plugins": ["prettier-plugin-organize-imports"],
    "printWidth": 120,
    "quoteProps": "consistent",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false
}
