{
    "extends": ["stylelint-config-standard-scss"],
    "cache": true,
    "rules": {
        "declaration-empty-line-before": null,
        "declaration-property-value-keyword-no-deprecated": null,
        "import-notation": null,
        "property-no-vendor-prefix": null
    }
}
