@use "../../../assets/styles/theme-variables/index" as tv;
@use "../../../assets/styles/colors/index" as c;

:host {
    display: block;
    border-radius: tv.$radius-xl;
    margin: 1rem;
    padding: 1rem;
    background-color: c.$neutral-50;
    height: 7rem;
}
