$green-50: oklch(98.2% 0.018 155.826deg);
$green-100: oklch(96.2% 0.044 156.743deg);
$green-200: oklch(92.5% 0.084 155.995deg);
$green-300: oklch(87.1% 0.15 154.449deg);
$green-400: oklch(79.2% 0.209 151.711deg);
$green-500: oklch(72.3% 0.219 149.579deg);
$green-600: oklch(62.7% 0.194 149.214deg);
$green-700: oklch(52.7% 0.154 150.069deg);
$green-800: oklch(44.8% 0.119 151.328deg);
$green-900: oklch(39.3% 0.095 152.535deg);
$green-950: oklch(26.6% 0.065 152.934deg);
