$pink-50: oklch(97.1% 0.014 343.198deg);
$pink-100: oklch(94.8% 0.028 342.258deg);
$pink-200: oklch(89.9% 0.061 343.231deg);
$pink-300: oklch(82.3% 0.12 346.018deg);
$pink-400: oklch(71.8% 0.202 349.761deg);
$pink-500: oklch(65.6% 0.241 354.308deg);
$pink-600: oklch(59.2% 0.249 0.584deg);
$pink-700: oklch(52.5% 0.223 3.958deg);
$pink-800: oklch(45.9% 0.187 3.815deg);
$pink-900: oklch(40.8% 0.153 2.432deg);
$pink-950: oklch(28.4% 0.109 3.907deg);
