$rose-50: oklch(96.9% 0.015 12.422deg);
$rose-100: oklch(94.1% 0.03 12.58deg);
$rose-200: oklch(89.2% 0.058 10.001deg);
$rose-300: oklch(81% 0.117 11.638deg);
$rose-400: oklch(71.2% 0.194 13.428deg);
$rose-500: oklch(64.5% 0.246 16.439deg);
$rose-600: oklch(58.6% 0.253 17.585deg);
$rose-700: oklch(51.4% 0.222 16.935deg);
$rose-800: oklch(45.5% 0.188 13.697deg);
$rose-900: oklch(41% 0.159 10.272deg);
$rose-950: oklch(27.1% 0.105 12.094deg);
