$sky-50: oklch(97.7% 0.013 236.62deg);
$sky-100: oklch(95.1% 0.026 236.824deg);
$sky-200: oklch(90.1% 0.058 230.902deg);
$sky-300: oklch(82.8% 0.111 230.318deg);
$sky-400: oklch(74.6% 0.16 232.661deg);
$sky-500: oklch(68.5% 0.169 237.323deg);
$sky-600: oklch(58.8% 0.158 241.966deg);
$sky-700: oklch(50% 0.134 242.749deg);
$sky-800: oklch(44.3% 0.11 240.79deg);
$sky-900: oklch(39.1% 0.09 240.876deg);
$sky-950: oklch(29.3% 0.066 243.157deg);
