$mist-50: oklch(98.7% 0.002 197.1deg);
$mist-100: oklch(96.3% 0.002 197.1deg);
$mist-200: oklch(92.5% 0.005 214.3deg);
$mist-300: oklch(87.2% 0.007 219.6deg);
$mist-400: oklch(72.3% 0.014 214.4deg);
$mist-500: oklch(56% 0.021 213.5deg);
$mist-600: oklch(45% 0.017 213.2deg);
$mist-700: oklch(37.8% 0.015 216deg);
$mist-800: oklch(27.5% 0.011 216.9deg);
$mist-900: oklch(21.8% 0.008 223.9deg);
$mist-950: oklch(14.8% 0.004 228.8deg);
