$blue-50: oklch(97% 0.014 254.604deg);
$blue-100: oklch(93.2% 0.032 255.585deg);
$blue-200: oklch(88.2% 0.059 254.128deg);
$blue-300: oklch(80.9% 0.105 251.813deg);
$blue-400: oklch(70.7% 0.165 254.624deg);
$blue-500: oklch(62.3% 0.214 259.815deg);
$blue-600: oklch(54.6% 0.245 262.881deg);
$blue-700: oklch(48.8% 0.243 264.376deg);
$blue-800: oklch(42.4% 0.199 265.638deg);
$blue-900: oklch(37.9% 0.146 265.522deg);
$blue-950: oklch(28.2% 0.091 267.935deg);
