$fuchsia-50: oklch(97.7% 0.017 320.058deg);
$fuchsia-100: oklch(95.2% 0.037 318.852deg);
$fuchsia-200: oklch(90.3% 0.076 319.62deg);
$fuchsia-300: oklch(83.3% 0.145 321.434deg);
$fuchsia-400: oklch(74% 0.238 322.16deg);
$fuchsia-500: oklch(66.7% 0.295 322.15deg);
$fuchsia-600: oklch(59.1% 0.293 322.896deg);
$fuchsia-700: oklch(51.8% 0.253 323.949deg);
$fuchsia-800: oklch(45.2% 0.211 324.591deg);
$fuchsia-900: oklch(40.1% 0.17 325.612deg);
$fuchsia-950: oklch(29.3% 0.136 325.661deg);
