$purple-50: oklch(97.7% 0.014 308.299deg);
$purple-100: oklch(94.6% 0.033 307.174deg);
$purple-200: oklch(90.2% 0.063 306.703deg);
$purple-300: oklch(82.7% 0.119 306.383deg);
$purple-400: oklch(71.4% 0.203 305.504deg);
$purple-500: oklch(62.7% 0.265 303.9deg);
$purple-600: oklch(55.8% 0.288 302.321deg);
$purple-700: oklch(49.6% 0.265 301.924deg);
$purple-800: oklch(43.8% 0.218 303.724deg);
$purple-900: oklch(38.1% 0.176 304.987deg);
$purple-950: oklch(29.1% 0.149 302.717deg);
