$red-50: oklch(97.1% 0.013 17.38deg);
$red-100: oklch(93.6% 0.032 17.717deg);
$red-200: oklch(88.5% 0.062 18.334deg);
$red-300: oklch(80.8% 0.114 19.571deg);
$red-400: oklch(70.4% 0.191 22.216deg);
$red-500: oklch(63.7% 0.237 25.331deg);
$red-600: oklch(57.7% 0.245 27.325deg);
$red-700: oklch(50.5% 0.213 27.518deg);
$red-800: oklch(44.4% 0.177 26.899deg);
$red-900: oklch(39.6% 0.141 25.723deg);
$red-950: oklch(25.8% 0.092 26.042deg);
