@use "../../../../assets/styles/theme-variables/index" as tv;
@use "../../../../assets/styles/colors/index" as c;

:host {
    display: block;
    border-radius: tv.$radius-xl;
    background-color: c.$neutral-50;
    margin: 1rem;
    padding: tv.$spacing * 3;
}
