name: Pull request
on:
    pull_request:
permissions:
    contents: read
jobs:
    ci:
        name: CI
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - name: CI
              uses: ./.github/actions/ci
