name: Push to main
on:
    push:
        branches:
            - main
permissions:
    contents: write
jobs:
    ci:
        name: CI
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - name: CI
              uses: ./.github/actions/ci

            - name: Deploy Storybook to GitHub Pages
              uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
              with:
                  folder: dist/storybook-static
                  branch: 'gh-pages'
