name: Push to main
on:
    push:
        branches:
            - main
permissions:
    contents: write
jobs:
    ci:
        name: CI
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: CI
              uses: ./.github/actions/ci

            - name: Deploy Storybook to GitHub Pages
              uses: JamesIves/github-pages-deploy-action@v4
              with:
                  folder: dist/storybook-static
                  branch: 'gh-pages'
